:root {
  --color--background: #eeeeee;
  --color--background-accent: #ffffff;
  --font-size: 28px;
  --line-height--base: 1.2;
  --pagehead--height: 4rem;
  --pagefoot--ticker--height: 2.75rem;
  --pagefoot--ticker--font: var(--font-weight--bold) 1rem/var(--pagefoot--ticker--height);
  --pagefoot--timer--height: 10px;
}
:root .wt__frontend--no-ticker {
  --pagefoot--ticker--height: 0px;
}
:root .wt__frontend--hidden-header {
  --pagehead--height: 0px;
}

/**
 *
 * Resets and global/generic styles with low priority
 *
 */
h1, .h1 {
  font-size: 2rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h2, .h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--highlight);
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h4, .h4 {
  font-size: 1.25rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--highlight);
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h6, .h6 {
  font-size: 1rem;
  font-weight: var(--font-weight--bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color--foreground);
}

html {
  width: 100%;
  height: 100%;
}

body, .dialog-off-canvas-main-canvas, .wt__frontend {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.wt__frontend {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.wt__header {
  height: var(--pagehead--height);
}

/**
 * HEADER
 *
 * this is the same as .wt__header
 * but we use .pagehead for prettier "&__subelement" selector name
 *
 */
.pagehead {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color--background-accent);
  padding: 0 1rem;
  height: var(--pagehead--height);
  /**
   * Mobile and Infopoint
   */
}
.pagehead--hidden {
  display: none;
}
.pagehead > * {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.pagehead__logo {
  display: block;
  margin: 0 auto 0 0;
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}
.pagehead__left {
  justify-content: flex-start;
  text-align: left;
  flex: 1 1 0;
}
.pagehead__center {
  justify-content: center;
  text-align: center;
  margin: 0 2rem;
  flex: 1 1 auto;
  white-space: nowrap;
}
.pagehead .currenttime {
  font-weight: var(--font-weight--bold);
  white-space: nowrap;
  font-size: 1.25rem;
}
.pagehead__right {
  justify-content: flex-end;
  text-align: right;
  flex: 1 1 0;
}
.pagehead__right .glide__bullet {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 3px solid var(--color--highlight);
  background-color: transparent;
  transition: background-color 200ms linear;
}
.pagehead__right .glide__bullet:hover, .pagehead__right .glide__bullet:focus {
  border: 3px solid var(--color--highlight);
}
.pagehead__right .glide__bullet.is-active {
  background-color: var(--color--highlight);
}

.wt__main {
  width: 100%;
  flex: 0 0 calc(100% - var(--pagehead--height) - var(--pagefoot--timer--height) - var(--pagefoot--ticker--height));
  overflow: hidden;
}

.region--content, .block--system_main_block,
.glide, .glide__slide, .glide__slide > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glide__track, .glide__slides {
  height: 100%;
}
.glide__slide {
  position: relative;
}

/**
 * FOOTER
 *
 * this is the same as .wt__footer
 * but we use .pagefoot for prettier "&__subelement" selector name
 *
 */
.pagefoot {
  flex: 0 0 auto;
  margin-top: auto;
  position: relative;
  background-color: var(--color--background-accent);
  height: calc(var(--pagefoot--timer--height) + var(--pagefoot--ticker--height));
  z-index: 999;
}
.pagefoot__timer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 1px;
  height: var(--pagefoot--timer--height);
  background-color: var(--color--highlight);
  animation-name: timerbar;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  z-index: 9999;
}
@keyframes timerbar {
  0% {
    width: 1px;
  }
  100% {
    width: 100%;
  }
}
.pagefoot__ticker {
  width: 100%;
  height: var(--pagefoot--ticker--height);
  overflow: hidden;
  white-space: nowrap;
  line-height: var(--pagefoot--ticker--height);
  font-weight: var(--font-weight--bold);
  font-size: 1.25rem;
}

.dgmtext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.dgmimage .field--imagefile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dgmimage--cover img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}

.dgmimage--contain img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: contain;
}

.dgmimagetext__img--bg_tl, .dgmimagetext__img--bg_tr {
  position: absolute;
  width: 42.5%;
  top: 5%;
}
.dgmimagetext__img--bg_tl img, .dgmimagetext__img--bg_tr img {
  display: block;
  max-width: 100%;
}
.dgmimagetext__img--bg_tl {
  right: 5%;
}
.dgmimagetext__img--bg_tr {
  left: 5%;
}
.dgmimagetext__img--img_center, .dgmimagetext--img_tl, .dgmimagetext--img_tr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dgmimagetext__img--img_center img, .dgmimagetext--img_tl img, .dgmimagetext--img_tr img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}
.dgmimagetext--bg_tr .field--text, .dgmimagetext--bg_tl .field--text, .dgmimagetext--img_tl .field--text, .dgmimagetext--img_tr .field--text {
  position: absolute;
  width: 42.5%;
  top: 5%;
}
.dgmimagetext--bg_tr .field--text, .dgmimagetext--img_tr .field--text {
  right: 5%;
}
.dgmimagetext--bg_tl .field--text, .dgmimagetext--img_tl .field--text {
  left: 5%;
}
.dgmimagetext--img_center .field--text, .dgmimagetext--img_tl .field--text, .dgmimagetext--img_tr .field--text {
  padding: 2rem;
  background-color: white;
}
.dgmimagetext--img_center {
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dgmimagetext--img_center .field--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 100%;
  overflow: hidden;
}

.dgmiframe iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}

.webcam__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.webcam__iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}
.webcam__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slogan__content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
.slogan blockquote {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 0.5em;
}
.slogan .slogan__icon {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 50%;
  width: auto;
  display: block;
  color: var(--color--highlight);
  opacity: 0.3;
}

.touristic > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.touristic__content {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 45%;
}
.touristic__title, .touristic__subtitle {
  margin-bottom: 0;
}
.touristic__subtitle {
  margin-top: 0.25rem;
}
.touristic__upper {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.touristic__lower {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.avalanche--slide, .avalanche__content {
  width: 100%;
  height: 100%;
  border: 0 none;
}
.avalanche__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 3% 5%;
}
.avalanche__text {
  flex: 0 0 55%;
  display: flex;
  flex-flow: column nowrap;
}
.avalanche__text > * {
  width: 100%;
}
.avalanche__more {
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.avalanche__more_qrcode {
  flex: 0 0 250px;
  padding-right: 20px;
}
.avalanche__more_text {
  flex: 1 1 0;
}
.avalanche__icon {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avalanche__icon > * {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/*# sourceMappingURL=dgm_tv.css.map */
