@use "_mixins";

.avalanche {
  &--slide, &__content {
    @include mixins.slide-iframe;
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 3% 5%;
  }

  &__text {
    flex: 0 0 55%;
    display: flex;
    flex-flow: column nowrap;

    > * {
      width: 100%;
    }
  }

  &__more {
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    &_qrcode {
      flex: 0 0 250px;
      padding-right: 20px;
    }

    &_text {
      flex: 1 1 0;
    }
  }

  &__icon {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
