.dgmimage {
  .field--imagefile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @at-root {
        .dgmimage--cover img {
          width: 100%;
          height: 100%;
          max-width: unset;
          object-fit: cover;
        }

        .dgmimage--contain img {
          width: 100%;
          height: 100%;
          max-width: unset;
          object-fit: contain;
        }
      }
    }
  }
}
