.dgmimagetext {

  &__img--bg_tl, &__img--bg_tr {
    position: absolute;
    width: 42.5%;
    top: 5%;
  }

  &__img--bg_tl, &__img--bg_tr {
    img {
      display: block;
      max-width: 100%;
    }
  }

  &__img--bg_tl {
    right: 5%;
  }

  &__img--bg_tr {
    left: 5%;
  }


  &__img--img_center, &--img_tl, &--img_tr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      max-width: unset;
      object-fit: cover;
    }
  }

  &--bg_tr, &--bg_tl, &--img_tl, &--img_tr {
    .field--text {
      position: absolute;
      width: 42.5%;
      top: 5%;
    }
  }

  &--bg_tr, &--img_tr {
    .field--text {
      right: 5%;
    }
  }

  &--bg_tl, &--img_tl {
    .field--text {
      left: 5%;
    }
  }

  &--img_center, &--img_tl, &--img_tr {
    .field--text {
      padding: 2rem;
      background-color: white;
    }
  }

  &--img_center {
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

    .field--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 100%;
      overflow: hidden;
    }
  }
}
