/**
 *
 * Resets and global/generic styles with low priority
 *
 */

h1, .h1 {
  font-size: 2rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h2, .h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--highlight);
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h4, .h4 {
  font-size: 1.25rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--highlight);
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: var(--font-weight--bold);
  text-transform: none;
  letter-spacing: normal;
  color: var(--color--foreground);
}

h6, .h6 {
  font-size: 1rem;
  font-weight: var(--font-weight--bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color--foreground);
}
