html {
  width: 100%;
  height: 100%;
}

body, .dialog-off-canvas-main-canvas, .wt__frontend {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.wt__frontend {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.wt__header {
  height: var(--pagehead--height);
}

/**
 * HEADER
 *
 * this is the same as .wt__header
 * but we use .pagehead for prettier "&__subelement" selector name
 *
 */
.pagehead {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color--background-accent);
  padding: 0 1rem;
  height: var(--pagehead--height);

  &--hidden {
    display: none;
  }

  /**
   * Mobile and Infopoint
   */
  > * {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__logo {
    display: block;
    margin: 0 auto 0 0;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;

  }

  &__left {
    justify-content: flex-start;
    text-align: left;
    flex: 1 1 0;
  }

  &__center {
    justify-content: center;
    text-align: center;
    margin: 0 2rem;
    flex: 1 1 auto;
    white-space: nowrap;
  }

  .currenttime {
    font-weight: var(--font-weight--bold);
    white-space: nowrap;
    font-size: 1.25rem;
  }

  &__right {
    justify-content: flex-end;
    text-align: right;
    flex: 1 1 0;

    .glide__bullet {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 3px solid var(--color--highlight);
      background-color: transparent;
      transition: background-color 200ms linear;

      &:hover, &:focus {
        border: 3px solid var(--color--highlight);
      }

      &.is-active {
        background-color: var(--color--highlight);
      }
    }
  }
}

.wt__main {
  width: 100%;
  flex: 0 0 calc(100% - var(--pagehead--height) - var(--pagefoot--timer--height) - var(--pagefoot--ticker--height));
  overflow: hidden;
}

.region--content, .block--system_main_block,
.glide, .glide__slide, .glide__slide > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glide {
  &__track, &__slides {
    height: 100%;
  }

  &__slide {
    position: relative;
  }
}

/**
 * FOOTER
 *
 * this is the same as .wt__footer
 * but we use .pagefoot for prettier "&__subelement" selector name
 *
 */

.pagefoot {
  flex: 0 0 auto;
  margin-top: auto;
  position: relative;
  background-color: var(--color--background-accent);
  height: calc(var(--pagefoot--timer--height) + var(--pagefoot--ticker--height));
  z-index: 999;

  &__timer {
    @at-root {
      @keyframes timerbar {
        0% {
          width: 1px;
        }
        100% {
          width: 100%;
        }
      }
    }

    position: relative;
    left: 0;
    bottom: 0;
    width: 1px;
    height: var(--pagefoot--timer--height);
    background-color: var(--color--highlight);
    animation-name: timerbar;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 9999;
  }

  &__ticker {
    width: 100%;
    height: var(--pagefoot--ticker--height);
    overflow: hidden;
    white-space: nowrap;
    line-height: var(--pagefoot--ticker--height);
    font-weight: var(--font-weight--bold);
    font-size: 1.25rem;
  }
}
