:root {
  --color--background: #eeeeee;
  --color--background-accent: #ffffff;

  --font-size: 28px;
  --line-height--base: 1.2;

  --pagehead--height: 4rem;

  --pagefoot--ticker--height: 2.75rem;
  --pagefoot--ticker--font: var(--font-weight--bold) 1rem/var(--pagefoot--ticker--height);
  --pagefoot--timer--height: 10px;

  // set height to "0px" and not to "0", because CSS "calc((unit_full value) - (unit_less value))" is not allowed
  .wt__frontend--no-ticker {
    --pagefoot--ticker--height: 0px;
  }

  .wt__frontend--hidden-header {
    --pagehead--height: 0px;
  }
}

