.slogan {
  &__content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
  }

  blockquote {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 0.5em;
  }

  .slogan__icon {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 50%;
    width: auto;
    display: block;
    color: var(--color--highlight);
    opacity: 0.3;
  }
}
