.touristic {
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 45%;
  }

  &__title, &__subtitle {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 0.25rem;
  }

  &__upper {
    background-color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  &__lower {
    background-color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
}
