@use "_mixins";

.webcam {
  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__iframe {
    @include mixins.slide-iframe;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
