{% extends '@dgm_tv/paragraph/paragraph.html.twig' %}
{% set slidelayout = paragraph.field_slidelayout.0.value %}
{% set imgfile = paragraph.field_imagefile.0.entity %}

{% set attributes = attributes.addClass(paragraph.bundle ~ '--' ~ slidelayout) %}

{% block content %}
  <div class="{{ paragraph.bundle }}__img {{ paragraph.bundle }}__img--{{ slidelayout }}">
    {% if slidelayout in ['bg_tr', 'bg_tl'] %}
      {{ drupal_image(imgfile.id , 'w1024') }}
    {% else %}
      {{ drupal_image(imgfile.id , '16_9_1920x1080') }}
    {% endif %}
  </div>
  {{ content|without('field_imagefile') }}
{% endblock %}
