{% extends '@dgm_tv/paragraph/paragraph.html.twig' %}

{% block content %}
  {% if video_id %}
    {{ attach_library('dgm_tv/youtube') }}
    <div class="dgmvideo__container" data-youtube-id="{{ video_id }}"></div>
  {% else %}
    <p>{{ 'This link does not look like a Youtube video'|t }}</p>
  {% endif %}
{% endblock %}
