{% extends '@dgm_tv/node/node.html.twig' %}
{% set attributes = attributes.addClass('node--touristic', 'touristic', 'touristic--' ~ node.bundle) %}

{% block content_wrapper %}
  {% if node.field_imagefiles.0.entity %}
    {{ drupal_image(node.field_imagefiles.0.entity.id , '16_9_1920x1080') }}
  {% endif %}
  {% set dummy_cache = content|render %}
  <div{{ content_attributes.addClass('node__content', node.bundle ~ '__content', 'touristic__content', 'touristic__content--' ~ node.bundle) }}>

    {% block upper %}
      <div class="touristic__upper touristic__upper--{{ node.bundle }}">
        <h1 class="touristic__title touristic__title--{{ node.bundle }}">{{ label }}</h1>
        {% block subtitle %}
          <h5 class="touristic__subtitle touristic__title--{{ node.bundle }}">
            {% block subtitle_inner %}{% endblock %}
          </h5>
        {% endblock %}
      </div>
    {% endblock %}

    {% block lower %}
      <div class="touristic__lower touristic__lower--{{ node.bundle }}">
        {% block address %}
          {% if not (node.field_street.0.isEmpty ?? true) or not (node.field_postcode.0.isEmpty ?? true) or not (node.field_city.0.isEmpty ?? true) %}
            <h4 class="touristic__address touristic__address--{{ node.bundle }}">
              {% block address_inner %}
                <div>{{ node.field_street.0.value }}</div>
                <div>{{ node.field_postcode.0.value }} {{ node.field_city.0.value }}</div>
              {% endblock %}
            </h4>
          {% endif %}
        {% endblock %}

        {% block description %}
          {% if not (node.body.0.isEmpty ?? true) or not (node.field_text.0.isEmpty ?? true) %}
            <div class="touristic__desc touristic__desc--{{ node.bundle }}">
              {% block desc_inner %}
                {% if not (node.body.isEmpty ?? true) %}
                  {{ content.body }}
                {% else %}
                  {{ content.field_text }}
                {% endif %}
              {% endblock %}
            </div>
          {% endif %}
        {% endblock %}

      </div>
    {% endblock %}

  </div>
{% endblock %}
