{% block entity %}
  <div{{ attributes.addClass(node.bundle) }}>
    {% block content_wrapper %}
      <div{{ content_attributes.addClass('node__content', node.bundle ~ '__content') }}>
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
