{% extends '@dgm_tv/node/_node--touristic--slide.html.twig' %}

{% block subtitle_inner %}
  {{ content.field_dates.0 }}
{% endblock %}

{% block address %}
  {% if node.field_location.0.target_id %}
    {% set address_entity = node.field_location.0.entity %}
  {% else %}
    {% set address_entity = node %}
  {% endif %}
  {% if not (address_entity.field_street.0.isEmpty ?? true) or not (address_entity.field_postcode.0.isEmpty ?? true) or not (address_entity.field_city.0.isEmpty ?? true) %}
    <h4 class="touristic__address touristic__address--{{ node.bundle }}">
      {% block address_inner %}
        <div>{{ address_entity.field_street.0.value }}</div>
        <div>{{ address_entity.field_postcode.0.value }} {{ address_entity.field_city.0.value }}</div>
      {% endblock %}
    </h4>
  {% endif %}
{% endblock %}
