{% extends '@dgm_tv/node/node.html.twig' %}
{% block content %}
  {% set data = rawdata['#data'] %}

  <div class="avalanche__text cktext">
    <h1 class="avalanche__title">{{ label }}</h1>
    <h3 class="avalanche__highlight">
        {{ "Danger scale"|t }}{{ node.field_avalanche_danger.0.value ? " " ~ node.field_avalanche_danger.0.value }}: {{ content.field_avalanche_danger.0|default('no rating'|t) }}
        <br>
        {{ data.bulletinResultsOf.BulletinMeasurements.avActivityHighlights }}
    </h3>
    <div class="avalanche__more">
      {% if more_info_url %}
        <div class="avalanche__more_qrcode">
          {{ source('@wt_theme/../images/avalanches_more_info_qrcode.svg') }}
        </div>
      {% endif %}
      <div class="avalanche__more_text">
      {% if copyright %}
        <span class="avalanche__more_copyright">&copy; {{ copyright }}</span>
        <br>
      {% endif %}
      <span class="avalanche__more_timestamp">{{ data.metaDataProperty.MetaData.dateTimeReport|default(0)|date('U')|format_date('long') }}</span>
      {% if more_info_url %}
        <br>
        <span class="avalanche__more_info">{{ 'Please visit <a href="@url">@url</a> for further information.'|t({'@url': more_info_url}) }}</span>
      {% endif %}
      </div>
    </div>
  </div>

  <div class="avalanche__icon">
    {{ source('@dgm_base/../images/avalanches/dangerscale_dry' ~ node.field_avalanche_danger.0.value ~ '.svg') }}
  </div>
{% endblock %}
