{% extends '@dgm_tv/node/node.html.twig' %}

{% block content_wrapper %}
  {% set type = node.field_webcam.0.first %}
  <div{{ content_attributes.addClass('node__content', 'webcam__content', 'webcam__content--' ~ type, 'webcam__content--' ~ node.id) }}>

    {% if type == 'panomax' %}

      <script>
        fetch('https://api.panomax.com/1.0/instances/thumbnails/{{- node.field_webcam.0.second -}}').then(
          function(response) {
            return response.json();
          }
        ).then(function (data) {
          let iframe = document.createElement('iframe');
          iframe.setAttribute('src', data[0].url);
          iframe.setAttribute('allowfullscreen', 'true');
          iframe.setAttribute('class', '{{ node.bundle }}__iframe {{ node.bundle }}__iframe--{{ type }} panomax--{{- node.id -}}');
          document.querySelector('.webcam__content--{{- node.id -}}').appendChild(iframe);
        }).catch(function(err) {
          let errormsg = document.createElement('p');
          errormsg.innerHTML('Unable to load Panomax Webcam nr. {{- node.field_webcam.0.second -}}')
          document.querySelector('.webcam__content--{{- node.id -}}').appendChild(errormsg);
        });
      </script>

    {% elseif node.field_webcam.0.first == 'feratel' %}


      <iframe src="https://webtv.feratel.com/webtv/?design=v3&cam={{- node.field_webcam.0.second -}}&c13=0&c3=0&c4=0" class="{{ node.bundle }}__iframe {{ node.bundle }}__iframe--{{ type }}"></iframe>


    {% elseif node.field_webcam.0.first == 'fotoeu' %}

      <img src="https://www.foto-webcam.eu/webcam/{{- node.field_webcam.0.second -}}/current/720.jpg" class="{{ node.bundle }}__img {{ node.bundle }}__img--{{ type }}"></img>

    {% elseif node.field_webcam.0.first == 'image' %}


      <script>
        var dgmWebcamImage_{{ node.id }} = document.createElement('img');
        dgmWebcamImage_{{ node.id }}.setAttribute('class', 'webcam webcam--image webcam--tile');
        dgmWebcamImage_{{ node.id }}.setAttribute('src', '{{- node.field_webcam.0.second -}}' + ('{{- node.field_webcam.0.second -}}'.includes('?') ? '&timestamp=' : '?timestamp=') + Date.now());
        document.querySelectorAll('.webcam__content--{{ node.id }}').forEach( div => div.appendChild(dgmWebcamImage_{{ node.id }}).parentNode.classList.remove('webcam__content--{{ node.id }}') );
      </script>

    {% elseif node.field_webcam.0.first == 'iframe' %}

      <iframe src="{{- node.field_webcam.0.second -}}" class="{{ node.bundle }}__iframe {{ node.bundle }}__iframe--{{ type }}"></iframe>

    {% endif %}

  </div>
{% endblock %}

