{% block container %}
  <div{{ attributes.addClass('glide') }}>

    {% block track %}
      <div class="glide__track" data-glide-el="track"><div class="glide__slides">

      {% block items %}
        {% for item in items %}

          {% set paragraph = item.content['#paragraph'] %}
          {% set slide_duration = paragraph.field_slideduration.0.value|default(30)|number_format(0, '', '') * 1000 %}

          <div{{ item.attributes.addClass('glide__slide') }}
            data-glide-autoplay="{{ slide_duration }}">{{ item.content }}</div>
        {% endfor %}
      {% endblock %}

      </div></div>
    {% endblock %}

    {#
    {% block bullets %}
      <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for item in items %}
          <button class="glide__bullet"
                  data-glide-dir="={{ loop.index0 }}"></button>
        {% endfor %}
      </div>
    {% endblock %}
    #}

  </div>
{% endblock %}
