{% block wt__theme %}
  {% set hasticker = not (node.field_ticker.isEmpty ?? true) %}
  {% set headerVisible = node.field_header.0.value %}

  <div class="wt__frontend wt__frontend--{{ hasticker ? 'has' : 'no' }}-ticker wt__frontend--{{ headerVisible }}-header">

    {% block wt__header %}
        <header class="wt__header pagehead pagehead--{{ headerVisible }}">
          {% block header_left %}
            <div class="pagehead__left">
              <img src="{{ file_url(dgm.user.field_logo.entity.uri.value) }}" class="pagehead__logo">
            </div>
          {% endblock %}
          {% block header_center %}
            <div class="pagehead__center">
              {{ drupal_block('wt_current_time', {'label_display': false, 'updateinterval': 60000, 'timeformat': 'HH:mm | D MMM YY'}) }}
            </div>
          {% endblock %}
          {% block header_right %}
            <div class="pagehead__right">
              {% for slide in node.field_slides %}
                {% set duration = slide.entity.field_slideduration.0.value|default(30)|number_format(0, '', '') * 1000 %}
                <span class="glide__bullet glide__bullet--{{ loop.index0 }} {% if loop.first %}is-active{% endif %}" data-duration="{{ duration }}" data-index="{{ loop.index0 }}"></span>
              {% endfor %}
            </div>
          {% endblock %}
        </header>
    {% endblock %}



    {% block wt__main %}
      <main class="wt__main">

        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {{ page.messages }}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}



    {% block wt__footer %}
      <footer class="wt__footer pagefoot pagefoot--{{ hasticker ? 'has' : 'no' }}-ticker">
        {% if not (node.field_ticker.isEmpty ?? true) %}
          {{ attach_library('dgm_tv/ticker') }}
          <div class="pagefoot__ticker">{{ drupal_field('field_ticker', 'node', node.id) }}</div>
        {% endif %}
        <div class="pagefoot__timer"></div>
      </footer>
    {% endblock %}
  </div>

  {% block wt__invisible %}
    {{ page.invisible }}
  {% endblock %}
{% endblock %}
